
<title>Reusable Form Demo</title>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul>
                   {% for message in messages %}
 <li>{{ message[1] }}</li>
{% endfor %}</ul>
{% endif %}
{% endwith %}
<form action="" method="post">
           {{ form.csrf }}
<div class="input text">{{ form.name.label }} {{ form.name }}</div>
<div class="input text">{{ form.shop_name.label }} {{ form.shop_name }}</div>
<div class="input submit"><input type="submit" value="Submit"></div>
</form>

<form action="" method="post">
           {{ form.csrf }}
<div class="input text">  {{ form.name2.label }} {{ form.name2 }}</div>
<div class="input submit">


               <input type="submit" onclick="(function(){
                               alert('Hey i am calling');
                               })();" />
</form>
